
<div class="row">
  <div style="position: :relative">
    <% topic.bookmarks.each do |b| %>
    <div class="col-xs-2 col-xs-height"><%= link_to b.url, "#{b.url}" %></div>
    <% end %>
  </div>
</div>
