<h1>All Topics</h1>
<%= params %>
<% @topics.each do |topic| %>
<div class='media'>
  <div class='media-body'>
    <h4 class='media-heading'>
      <%= link_to topic.title, topic %>
    </h4>
  </div>
</div>
<% end %>