<h1><%= @topic.title %></h1>
<% if policy(@topic).edit? %>
  <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
<% end %>
<%= render partial: 'bookmarks/bookmark', locals: {topic: @topic} %> 
<% if policy(Bookmark.new).create? %>
  <%= render partial: 'bookmarks/form', locals: {topic: @topic} %>
<% end %>




  