<h1><%= @topic.title %></h1>
<%= render partial: 'bookmarks/bookmark', locals: {topic: @topic} %> 
<% if policy(@topic).edit? %>
<%= link_to "Edit", edit_topic_path, class: 'btn btn-success' %>
<% end %>



  