%h1 About Blocmarks
%p  I created this application as part of my web development apprenticeship and wanted to focus on learning to build the core behaviors and properly meet the requirements that were set out for me, which I did.  But I ignored some important usability aspects, which you will notice in the appearance of the website.